<div id="viewAssets" class="view-section">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Asset Name</th>
                        <th>% Port.</th>
                        <th>Net Units</th>
                        <th>Avg. Buy (Net)</th>
                        <th>Realized P/L</th>
                        <th>Invested (Pure)</th>
                    </tr>
                </thead>
                <tbody id="assetsBody"></tbody>
            </table>
        </div>
        <div class="summary">Total Investment: ₹ <span id="totalPortfolio">0</span></div>
    </div>
