{% extends "layout.html" %}

{% set title = 'Home' %}

{% block navbar_actions %}
    <button class="btn-auth">Login</button>
    <button class="btn-auth">Register</button>
    <span class="navbar-divider"></span>
{% endblock %}

{% block content %}
<div class="home-container">
    <div >
        <div class="welcome-text">
            <h1>Welcome to Portfolio Manager</h1>
            <p class="subtitle">Secure, offline-first asset management system.</p>
            <div class="welcome-divider"></div>
        </div>
    </div>
</div>
{% endblock content %}